@model WesthoughtonWorldOfWicker.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModelName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModelNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModelNumber" class="form-control" />
                <span asp-validation-for="ModelNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UnitCost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UnitCost" class="form-control" />
                <span asp-validation-for="UnitCost" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="productImageUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="productImageUrl" class="form-control" />
                <span asp-validation-for="productImageUrl" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
